:root {
  --brown: #e1a857;
  --dark-gray: #2c3e50;
  --light-gray: #b9cce2;
  --mostarda: #bf8520;
  --light: #f1f1e6;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--brown);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  place-items: center;
}

#hero {
  background-image: url("./assets/images/angelo-pinheiro-vCQv8ARTyUs-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 4px solid var(--dark-gray);
}

/* table */
.table-data-set {
  margin: 0 0.9rem;
}

.dataset-buttons {
  display: flex;
  justify-content: space-between;
}

.icon-filter {
  width: 20px;
  height: 20px;
  margin-right: 12px;
}

.selected {
  filter: invert(100%) sepia(0%) saturate(3676%) hue-rotate(274deg) brightness(125%) contrast(112%);
  /* filter: invert(100%) sepia(15%) saturate(2%) hue-rotate(139deg) brightness(111%) contrast(100%); */
}

.is-not-selected-button {
  background: var(--light-gray);
  color: var(--dark-gray) !important;
}

/* video */
div.sticky {
  display: flex;
  justify-content: center;
  position: block;
  top: 0;
  padding: 40px;
}

.sticky > iframe {
  min-height: 400px;
  min-width: 80%;
  border: 3px solid var(--dark-gray);
  box-shadow:27px 19px 45px rgba(0, 0, 0, 0.678);
}

/* content */
.content-section {
  padding: 3rem 4rem;
}

/* tales */
.tales {
  margin: 0 4rem 2rem 4rem;
}

.tales-no-back {
  background: none;
}