:root {

  --brown: #e1a857;
  --dark-gray: #2c3e50;
  --light-gray: #B9CCE2;
  --mostarda: #BF8520;
  --light: #F1F1E6;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--brown);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  place-items: center;
}

#hero {
  background-image: url('./assets/images/angelo-pinheiro-vCQv8ARTyUs-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 4px solid var(--dark-gray);
}